body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 193, 160);
    font-size: 1.5em;
    color: #5b5b5b;
}

#home {
    overflow: hidden;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.topnav a {
    text-align: center;
    color: #fff;
    padding: .4rem .4rem;
    float: left;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: Arial;
}

.topnav img {
    float: left;
    width: 2rem;
    height: 2rem;
    margin: auto 0em;
    border-radius: 10%;
}

.topnav a:hover {
    background-color: #555;
}

.topnav a.active {
    background-color: #444;
}

.topnav a.active:hover {
    background-color: #666;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 0;
    padding-top: 2.8rem;
}

.fullImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

#gameScreen {
    border: 1px solid #000000;
    width: 90%;
    margin: 3%;
    margin-top: 1rem;
    max-height: 85vh;
    max-width: 85vh;
    aspect-ratio: 1/1;
    align-self: center;
}

.invisible {
    display: none;
}

.fullscreenButton {
    font-size: 10pt;
    padding: 5pt;
    color: rgb(100, 100, 100);
    background-color: white;
    font-weight: 600;
    border-radius: 10px;
    border-color: black;
    text-shadow: 5pt;
    font-family: arial;
}

.fullscreenButton:hover {
    background-color: lightgray;
}

.fullscreenButton:active {
    background-color: darkgray;
}

#screenWrapper {
    display: flex;
    justify-content: center;
}

.textpage {
    margin: 1.5em 2em;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding-bottom: 5px;
    text-align: center;
    font-size: 0.9rem;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 48%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}